*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right,#eb5628, #6151eb);
}

nav{
  width: 95%;
  height: 5%;
  position: sticky;
  margin: 20px auto;
  z-index: 1;
  display: flex;
  align-items: center;
}

.logo{
  flex-basis: 20%;
}
.logo img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
  
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  
}

.info{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}
#circle{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
 /*background: #ccc; */
  transform: rotate(0deg);
  transition: 1s;
}

.feature img{
  width: 70px;
}
.feature{
  position: absolute;
  display: flex;
  color: rgb(255, 255, 255);
}
.feature div{
  margin-left: 30px;
}
.feature div p{
  margin-top: 8px;
}

.nje{
  top: 450px;
  right: 50px;
}
.dy{
  top: 150px;
  right: 350px;
  transform: rotate(-90deg);
}
.tre{
  bottom: 450px;
  left: 50px;
  transform: rotate(-180deg);
}
.kater{
  bottom: 150px;
  right: 350px;
  transform: rotate(-270deg);
}

.iphone{
  width: 400px;
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translateY(-50%);
  z-index: 1;
}
.controls{
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.controls h3{
  margin: 15px 0;
  color: #fff;

}
#ButoniUP{
  width: 15px;
  cursor: pointer;
}
#ButoniDown{
  width: 15px;
  cursor: pointer;
  transform: rotate(180deg);
}
.overlay{
  width: 0;
  height: 0;
  border-top: 500px solid rgb(255, 255, 255);
  border-right: 500px solid transparent;
  border-bottom: 500px solid rgb(255, 255, 255);
  border-left: 500px solid rgb(255, 255, 255);
  position: absolute;
  left: 0;
  top: 0;
}

.footer {
  height: 180px;
  width: 80%;
  margin: auto;
}

.footer div {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-top: 4%;
  height: 100px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
.footer .adress {
  margin-left: 10%;
}
.footer .vertical_line {
  border-left: 1px solid black;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  width: 10px;
}